:root {
  --text-color: #333;
  --body-bg-color: linear-gradient(rgb(46, 198, 224), rgb(13, 122, 141));
  --calculator-bg-color: #fff;
  --primary-color: rgb(13, 174, 202);
  --input-border-color: #d4d4d4;
  --slider-thumb-color: linear-gradient(rgb(46, 198, 224), rgb(13, 122, 141));
  --error-bg-color: rgb(245, 200, 214);
  --error-color: rgb(226, 7, 62);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background: var(--body-bg-color);
  color: var(--text-color);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px 10px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  border: 2px var(--input-border-color) solid;
  border-radius: 3px;
}

input:focus {
  border-color: var(--primary-color);
}

hr {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  max-width: 720px;
  height: auto;
  min-height: 320px;
  padding: 20px 60px;
  border-radius: 5px;
  background-color: var(--calculator-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-out;
}

.calculator {
  display: flex;
  width: 100%;
  gap: 40px;
}

.calculator__section {
  width: 50%;
}

.input-group {
  margin-bottom: 18px;
}

.input-group--slider {
  position: relative;
}

.input-error,
.input-error:focus {
  border-color: var(--error-color);
}

.loan-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

#loan-amount {
  padding-bottom: 12px;
}

#slider {
  position: absolute;
  bottom: 0;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  height: 3px;
  padding: 0;
  background: var(--input-border-color);
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-size: 0;
  background-repeat: no-repeat;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
}

.output-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 18px;
  margin-top: 10px;
}

#monthly-payment {
  font-size: 32px;
  font-weight: bold;
}

.error-message {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 8px;
  border: 1px var(--error-color) solid;
  border-radius: 5px;
  background-color: var(--error-bg-color);
  color: var(--error-color);
}

@media (max-width: 700px) {
  .container {
    max-width: 360px;
    padding: 20px;
    min-height: 500px;
  }

  .calculator {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .calculator__section {
    width: 100%;
  }

  .output-group--monthly {
    flex-direction: column;
    align-items: center;
  }
}
